<div class="contenido-info text-center">
    <img id="logo-info" class="logo-info" src="../assets/res/logos/logo-completo-color.png">
    <hr>
    
    <p>{{"sobre-nosotros" | translate}}</p>
    <p class="titulo-2">{{"horario-atencion" | translate}}</p>
    <hr>
    <p class="info-home">{{"dias-atencion" | translate}}</p>
    <p>9:00 AM - 7:00 PM</p>
    <a class="info-home" href="https://www.instagram.com/complejodeportivodflaserena/" target="_blank"><p><i class="bi bi-instagram"></i>&nbsp;complejodeportivodflaserena</p></a>
    <a class="info-home" href="https://wa.me/56995278783" target="_blank"><p><i class="bi bi-whatsapp"></i>&nbsp;+569 9527 8783</p></a>
    <a class="info-home" href="mailto:contacto@donflorito.cl"><p><i class="bi bi-envelope"></i>&nbsp;contacto&#64;donflorito.cl</p></a>
    <p id="como-llegar" class="titulo-2">{{"ubicacion" | translate}}</p>
    <hr>
    <p class="info-home"> <i class="bi bi-geo-alt-fill"></i>&nbsp;Parcela 226, Quebrada Peñuelas</p>
    <div class="mapa">
        <app-mapa></app-mapa>
    </div> 
</div>



