<div class="futre row text-center">
  <div class="col-lg-3">
    <img class="logo-footer" src="assets/res/logos/logo-blanco.png" />
  </div>
  <div class="col-lg-2 text-start site-map">
    <h3>{{"sitio" | translate}}</h3>
    <a href="">{{"inicio"|translate}}</a><br>
    <a href="servicios">{{"servicios"|translate}}</a><br>
    <a href="contacto">{{"contacto"|translate}}</a><br>
    <a href="mi-reserva">{{"mi-reserva"|translate}}</a><br>
    <a href="reservar">{{"reservar"|translate}}</a><br>
    <a href="admin">{{"admin"|translate}}</a>

  </div>
  <div class="col-lg-2 text-start site-map">
    <h3>{{"contactoFooter" | translate}}</h3>
    <a class="d-none d-sm-block" href="https://www.instagram.com/complejo_don_florito/" target="_blank">
      <i class="bi bi-instagram"></i> Instagram
    </a>
    <a class="d-none d-sm-block" href="https://wa.me/56995278783" target="_blank">
      <i class="bi bi-whatsapp"></i> Whatsapp
    </a>
    <a class="d-none d-sm-block" href="mailto:contacto@donflorito.cl">
      <i class="bi bi-envelope"></i> Email
    </a>
    <div class="hstack d-block d-sm-none contacto-movil text-center">
      <a href="https://www.instagram.com/complejo_don_florito/" target="_blank">
        <i class="bi bi-instagram"></i>
      </a>&nbsp;&nbsp;
      <a href="https://wa.me/56995278783" target="_blank">
        <i class="bi bi-whatsapp"></i>
      </a>&nbsp;&nbsp;
      <a href="mailto:contacto@donflorito.cl">
        <i class="bi bi-envelope"></i>
      </a>
      
    </div>
  </div>

  <div class="col-lg-5">
    <img class="logo-webpay" src="assets/res/logos/webpay-blanco.png" />
  </div>
  <hr />
  <p class="thepit-firma"> <a href="https://thepit.cl" target="_blank">ThePit It Development</a> - 2024</p>
</div> 